<div class="month">
  <ul>
    <li class="prev" (click)="goToLastMonth()">&#10094;</li>
    <li class="next" (click)="goToNextMonth()">&#10095;</li>
    <li>{{ month() }}<br><span style="font-size:18px">{{ year() }}</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li *ngFor="let day of daysLabel()"> {{ day }} </li>
</ul>

<ul class="days">
  <li *ngFor="let i of daysInLastMonth()" class="last-month" (click)="onDayClick(i)">{{ i }}</li>
  <li *ngFor="let i of daysInThisMonth()" [class.active]="i === activeDay()" (click)="onDayClick(i)">{{ i }}</li>
  <li *ngFor="let i of daysInNextMonth()" class="next-month" (click)="onDayClick(i)">{{ i }}</li>
</ul>

<!-- routerLink="/date/{{ date() }}" -->
