host: {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

#pinSelector {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pin {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 16.6%;
  font-family: Verdana , sans-serif;
  padding: 5px;
  margin: 5px;
  background-color: #eee;
  color: #666;
}

.pin:hover {
  cursor: pointer;
}